@model IEnumerable<BOL.Models.Kill>

@{
    ViewData["Title"] = "My Players";
}

<h2>My Players</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BotKills)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameForDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllGames)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsUserInGame)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BotKills)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameForDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllGames)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsUserInGame)
            </td>
        </tr>
}
    </tbody>
</table>
