@model IEnumerable<BOL.Models.Condition>

@{
    ViewData["Title"] = "My Conditions";
}

<h2>My Conditions</h2>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Temperature)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pulse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomTemperature)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Temperature)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pulse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomTemperature)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Email)
        </td>
    </tr>
}
    </tbody>
</table>
